<div id={{tweet.id}} *ngFor="let tweet of tweets" class="tweet_container">
    <div class="tweet_layout">
        <div class="profilepic">
            <img [src]="userProfile.profile_image" alt="">

        <img *ngIf="usersMap[tweet.authorId]" [src]="usersMap[tweet.authorId].profileImage" alt="">
        </div>
        <div class="user_info_details">
            <div class="user_details">
                <span class="user_name">{{ tweet.authorId }}</span> <span class="user_userName">@{{ tweet.authorId }}</span> <span
                    class="stopdot">·</span> <span class="time_posted">{{tweet.createdAt.toString().substring(0,10)}}</span>
            </div>
            <div class="user_tweet">
                <div class="tweet_messages">
                    {{ tweet.body }}
                </div>

                <div class="tweet_img">
                    <img [src]="tweet.imageUrl" alt=""
                        height="400px" width="100%">
                </div>
                <div class="comment_likes_bookmarks">
                    <div class="reply">
                         <button (click)="deleteTweet(tweet.id)" class="delete-button">Delete</button>
                        <svg id="replyIcon" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <g>
                                <path d="M18 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-8 15c0 .55-.45 1-1 1s-1-.45-1-1V7c0-.55.45-1 1-1s1 .45 1 1v10zm4 0c0 .55-.45 1-1 1s-1-.45-1-1V7c0-.55.45-1 1-1s1 .45 1 1v10z"/>
                            </g>
                        </svg>
                    </div>
                    <div class="retweet">
                       
                        <svg id="retweetIcon" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <g >
                                <path d="M17.66 3c.25 0 .51.1.71.29l2.34 2.34c.19.19.29.45.29.71 0 .26-.1.52-.29.71L15.1 11.75l-1.83 4.92c-.15.41-.52.7-.96.76-.44.06-.88-.1-1.18-.4l-2.34-2.34c-.19-.19-.29-.45-.29-.71s.1-.51.29-.71L10.24 11l-7.3-7.29c-.38-.38-.38-1.02 0-1.41s1.02-.38 1.41 0L10 9.59l2.66-2.66c.2-.2.45-.29.71-.29zM4 17.25V20h2.75L17.81 9.94l-2.75-2.75L4 17.25z"/>

                            </g>
                        </svg>
                    </div>
                    <div class="like">
                        <svg id="likeOutlinedIcon" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><g><path d="M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z"></path></g></svg>


                    <span class="like_count">{{tweet.likes}}</span>
                    </div>
                 
                     
                </div>
            </div>
        </div>
    </div>
</div>