.forms,
input:last-of-type {
    width: 100%;
    margin-top: 30px
}

.dialog_box {
    background-color: #000;
    padding: 20px;
    color: var(--twitter-blue);
    align-items: center;
    height: 20px
}

.exitbtn:hover {
    background-color: var(--border-stroke);
    border-radius: 50%;
    padding: 3px
}

p {
    margin: 0 5px;
    padding-top: 10px
}

input:focus {
    border: 2px solid var(--twitter-blue);
    outline: 0
}

.forms {
    color: var(--border-stroke);
    background-color: rgba(255, 255, 255, .068);
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-weight: 300
}

input:last-of-type {
    padding: 15px;
    background-color: transparent;
    border: 1px solid var(--border-stroke);
    color: var(--text-color)
}

.btn_section {
    width: 80%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: var(--bg-color);
    background-color: var(--border-stroke);
    padding: 15px;
    border-radius: 30px;
    font-weight: 700
}